# DATA EXPLORATION OPERATIONS USING PANDAS

## COVID-19 PANDEMIC IN INDIA - STATE WISE RECORD

#### This dataset is a comprehensive collection of data related to the spread of COVID-19 in India. It captures the number of confirmed cases and deaths in each state and union territory of India from the first reported case in January 2020 to the present day. The dataset was created to provide an understanding of the extent of the COVID-19 pandemic in India.It is updated on a daily basis, and provides essential information that is useful for researchers, policy-makers and citizens. It is an invaluable resource that can be used to understand the dynamics of the virus and to monitor the progress of the virus in each state.

In [8]:
import pandas as pd

#### The pandas library imported as pd for the data exploration

In [9]:
coviddata=pd.read_csv('C://Users//indhu//Downloads//covid.csv')

#### Using read_csv function, covid.csv dataset is read from the location

In [10]:
coviddata

,state,confirmed,active,passive,deaths,dose1,dose2,dose3,precaution_dose,total_doses,population
0,Andaman and Nicobar,10742,1,10612,129,313284,320383,236936,53427,991263,426251
1,Andhra Pradesh,2339067,3,2324331,14733,40643161,43549055,11703273,6579565,110556756,52883163
2,Arunachal Pradesh,66890,0,66594,296,860442,747177,72403,58618,1911760,1528296
3,Assam,746100,0,738065,8035,22549957,20561790,2082670,1259853,50284713,34586234
4,Bihar,851379,15,839062,12302,62944633,59144387,11983504,3868082,157197041,119461013
5,Chandigarh,99348,6,98161,1181,1089254,917701,48480,63046,2282281,1182104
6,Chhattisgarh,1177749,6,1163597,14146,18955635,18534989,5737679,1804891,49148991,28566990
7,Dadra and Nagar Haveli and Daman and Diu,11591,0,11587,4,730746,594929,136967,22486,1578492,657391
8,Delhi,2007188,35,1980632,26521,16600054,14348835,2312803,1053393,37366540,18802494
9,Goa,259079,26,255040,4013,1354828,1224173,60838,76559,2872582,1542750
10,Gujarat,1277557,41,1266473,11043,49314588,49428283,13459618,5938121,127793995,63907200
11,Haryana,1056602,43,1045845,10714,21955717,18732346,1255308,701811,45457359,27388008
12,Himachal Pradesh,312644,23,308408,4213,6041658,5780254,1485328,823689,15278680,7316708
13,Jammu and Kashmir,479410,17,474608,4785,9941757,10386967,930096,669871,24738045,14046258
14,Jharkhand,442570,3,437236,5331,21300448,16046070,1306687,664308,43689818,37329128
15,Karnataka,4071893,1275,4030311,40307,50016690,50455767,5727031,4726542,120928298,66165886
16,Kerala,6828245,1389,6755304,71552,27013745,23791879,854595,2215656,57477992,35330888
17,Ladakh,29412,3,29178,231,219564,186942,68766,53990,564943,307204
18,Lakshadweep,11415,0,11363,52,56908,55992,15757,6949,145008,72210
19,Madhya Pradesh,1054918,4,1044138,10776,54140166,54035268,9854998,3787239,133590886,82342793
20,Maharashtra,8136588,164,7988008,148416,84644083,71593498,5022623,4450343,177678317,120837347
21,Manipur,139922,0,137773,2149,1463998,1225599,114004,165096,3265933,3008546
22,Meghalaya,96783,1,95158,1624,1332102,1024902,30706,56987,2621058,3276323
23,Mizoram,238964,0,238238,726,785749,668814,79573,67619,1790818,1205974
24,Nagaland,35986,0,35204,782,837775,684306,26060,43640,1737554,2189297
25,Odisha,1336552,91,1327256,9205,31453659,29949756,9995330,3199384,81445474,45429399
26,Puducherry,175508,5,173528,1975,912901,801853,303475,106956,2272617,1397707
27,Punjab,784205,49,764867,19289,22352681,19602907,799986,1041039,46970300,29611935
28,Rajasthan,1315455,88,1305714,9653,51103054,46510275,4387205,2995864,115325059,78230816
29,Sikkim,44319,1,43819,499,539927,509134,158276,55637,1360444,671720
30,Tamil Nadu,3594388,60,3556279,38049,56659544,53499923,6033504,3021694,127442647,76481545
31,Telengana,841324,71,837142,4111,29607672,29053708,10525975,2702159,77201709,38472769
32,Tripura,108034,0,107094,940,2658852,2328613,271434,204733,5916312,4057847
33,Uttar Pradesh,2128103,46,2104424,23633,154058287,147716010,35623544,9240735,390639497,228959599
34,Uttarakhand,449379,28,441600,7751,8180312,7940592,1346150,867047,20051714,11090425
35,West Bengal,2118606,58,2097016,21532,67300236,61593452,10257324,5491943,155962840,97694960

#### This dataset is downloaded from the kaggle.com

In [11]:
coviddata.head()

,state,confirmed,active,passive,deaths,dose1,dose2,dose3,precaution_dose,total_doses,population
0,Andaman and Nicobar,10742,1,10612,129,313284,320383,236936,53427,991263,426251
1,Andhra Pradesh,2339067,3,2324331,14733,40643161,43549055,11703273,6579565,110556756,52883163
2,Arunachal Pradesh,66890,0,66594,296,860442,747177,72403,58618,1911760,1528296
3,Assam,746100,0,738065,8035,22549957,20561790,2082670,1259853,50284713,34586234
4,Bihar,851379,15,839062,12302,62944633,59144387,11983504,3868082,157197041,119461013

#### The head function is used to view the first 5 observations of the dataset

In [12]:
coviddata.tail()

,state,confirmed,active,passive,deaths,dose1,dose2,dose3,precaution_dose,total_doses,population
31,Telengana,841324,71,837142,4111,29607672,29053708,10525975,2702159,77201709,38472769
32,Tripura,108034,0,107094,940,2658852,2328613,271434,204733,5916312,4057847
33,Uttar Pradesh,2128103,46,2104424,23633,154058287,147716010,35623544,9240735,390639497,228959599
34,Uttarakhand,449379,28,441600,7751,8180312,7940592,1346150,867047,20051714,11090425
35,West Bengal,2118606,58,2097016,21532,67300236,61593452,10257324,5491943,155962840,97694960

#### The tail function is used to view the last 5 observations of the dataset

In [13]:
coviddata.count()

state              36
confirmed          36
active             36
passive            36
deaths             36
dose1              36
dose2              36
dose3              36
precaution_dose    36
total_doses        36
population         36
dtype: int64

#### The count function is used to find the number of observations under each variables of the dataset

In [14]:
coviddata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   state            36 non-null     object
 1   confirmed        36 non-null     int64
 2   active           36 non-null     int64
 3   passive          36 non-null     int64
 4   deaths           36 non-null     int64
 5   dose1            36 non-null     int64
 6   dose2            36 non-null     int64
 7   dose3            36 non-null     int64
 8   precaution_dose  36 non-null     int64
 9   total_doses      36 non-null     int64
 10  population       36 non-null     int64
dtypes: int64(10), object(1)
memory usage: 3.2+ KB

#### The info function shows the column names, non-null count and data type of the variables

In [15]:
coviddata.describe()

,confirmed,active,passive,deaths,dose1,dose2,dose3,precaution_dose,total_doses,population
count,3.600000e+01,36.000000,3.600000e+01,36.000000,3.600000e+01,3.600000e+01,3.600000e+01,3.600000e+01,3.600000e+01,3.600000e+01
mean,1.241053e+06,98.666667,1.226213e+06,14741.611111,2.555372e+07,2.398740e+07,4.286358e+06,1.892749e+06,6.098716e+07,3.712387e+07
std,1.833873e+06,305.722844,1.808032e+06,27168.565338,3.234424e+07,3.063309e+07,6.862957e+06,2.312095e+06,7.921462e+07,4.835507e+07
min,1.074200e+04,0.000000,1.061200e+04,4.000000,5.690800e+04,5.599200e+04,1.575700e+04,6.949000e+03,1.450080e+05,7.221000e+04
25%,1.058625e+05,1.000000,1.048608e+05,1120.750000,1.045166e+06,8.887390e+05,1.312262e+05,6.647575e+04,2.279865e+06,1.539136e+06
50%,6.127550e+05,10.500000,6.063365e+05,6541.000000,1.777784e+07,1.519745e+07,1.280998e+06,8.453680e+05,4.052818e+07,2.309525e+07
75%,1.320729e+06,46.750000,1.311100e+06,14292.750000,4.281102e+07,4.428936e+07,5.811635e+06,3.066116e+06,1.117488e+08,5.563917e+07
max,8.136588e+06,1389.000000,7.988008e+06,148416.000000,1.540583e+08,1.477160e+08,3.562354e+07,9.240735e+06,3.906395e+08,2.289596e+08

#### The describe function performs operations like count, mean, standard deviation,minimum value, 25% 50% and 75%of the values and the maximum value in the dataset

In [16]:
coviddata.shape

(36, 11)

#### The shape function shows the number of observations and number of variables in the dataset

In [17]:
coviddata.columns

Index(['state', 'confirmed', 'active', 'passive', 'deaths', 'dose1', 'dose2',
       'dose3', 'precaution_dose', 'total_doses', 'population'],
      dtype='object')

#### The columns function shows the variable names of the dataset

In [18]:
coviddata.index

RangeIndex(start=0, stop=36, step=1)

#### The index function shows the starting and ending value of index and number of steps performed between each index value

In [19]:
coviddata.sort_values(['confirmed'],ascending=[True])

,state,confirmed,active,passive,deaths,dose1,dose2,dose3,precaution_dose,total_doses,population
0,Andaman and Nicobar,10742,1,10612,129,313284,320383,236936,53427,991263,426251
18,Lakshadweep,11415,0,11363,52,56908,55992,15757,6949,145008,72210
7,Dadra and Nagar Haveli and Daman and Diu,11591,0,11587,4,730746,594929,136967,22486,1578492,657391
17,Ladakh,29412,3,29178,231,219564,186942,68766,53990,564943,307204
24,Nagaland,35986,0,35204,782,837775,684306,26060,43640,1737554,2189297
29,Sikkim,44319,1,43819,499,539927,509134,158276,55637,1360444,671720
2,Arunachal Pradesh,66890,0,66594,296,860442,747177,72403,58618,1911760,1528296
22,Meghalaya,96783,1,95158,1624,1332102,1024902,30706,56987,2621058,3276323
5,Chandigarh,99348,6,98161,1181,1089254,917701,48480,63046,2282281,1182104
32,Tripura,108034,0,107094,940,2658852,2328613,271434,204733,5916312,4057847
21,Manipur,139922,0,137773,2149,1463998,1225599,114004,165096,3265933,3008546
26,Puducherry,175508,5,173528,1975,912901,801853,303475,106956,2272617,1397707
23,Mizoram,238964,0,238238,726,785749,668814,79573,67619,1790818,1205974
9,Goa,259079,26,255040,4013,1354828,1224173,60838,76559,2872582,1542750
12,Himachal Pradesh,312644,23,308408,4213,6041658,5780254,1485328,823689,15278680,7316708
14,Jharkhand,442570,3,437236,5331,21300448,16046070,1306687,664308,43689818,37329128
34,Uttarakhand,449379,28,441600,7751,8180312,7940592,1346150,867047,20051714,11090425
13,Jammu and Kashmir,479410,17,474608,4785,9941757,10386967,930096,669871,24738045,14046258
3,Assam,746100,0,738065,8035,22549957,20561790,2082670,1259853,50284713,34586234
27,Punjab,784205,49,764867,19289,22352681,19602907,799986,1041039,46970300,29611935
31,Telengana,841324,71,837142,4111,29607672,29053708,10525975,2702159,77201709,38472769
4,Bihar,851379,15,839062,12302,62944633,59144387,11983504,3868082,157197041,119461013
19,Madhya Pradesh,1054918,4,1044138,10776,54140166,54035268,9854998,3787239,133590886,82342793
11,Haryana,1056602,43,1045845,10714,21955717,18732346,1255308,701811,45457359,27388008
6,Chhattisgarh,1177749,6,1163597,14146,18955635,18534989,5737679,1804891,49148991,28566990
10,Gujarat,1277557,41,1266473,11043,49314588,49428283,13459618,5938121,127793995,63907200
28,Rajasthan,1315455,88,1305714,9653,51103054,46510275,4387205,2995864,115325059,78230816
25,Odisha,1336552,91,1327256,9205,31453659,29949756,9995330,3199384,81445474,45429399
8,Delhi,2007188,35,1980632,26521,16600054,14348835,2312803,1053393,37366540,18802494
35,West Bengal,2118606,58,2097016,21532,67300236,61593452,10257324,5491943,155962840,97694960
33,Uttar Pradesh,2128103,46,2104424,23633,154058287,147716010,35623544,9240735,390639497,228959599
1,Andhra Pradesh,2339067,3,2324331,14733,40643161,43549055,11703273,6579565,110556756,52883163
30,Tamil Nadu,3594388,60,3556279,38049,56659544,53499923,6033504,3021694,127442647,76481545
15,Karnataka,4071893,1275,4030311,40307,50016690,50455767,5727031,4726542,120928298,66165886
16,Kerala,6828245,1389,6755304,71552,27013745,23791879,854595,2215656,57477992,35330888
20,Maharashtra,8136588,164,7988008,148416,84644083,71593498,5022623,4450343,177678317,120837347

#### The sort values function helps to sorting the observations in ascending or desending order

In [20]:
coviddata['active'].value_counts()

0       8
1       3
3       3
6       2
164     1
28      1
46      1
71      1
60      1
88      1
49      1
5       1
91      1
1389    1
4       1
1275    1
17      1
23      1
43      1
41      1
26      1
35      1
15      1
58      1
Name: active, dtype: int64

#### The value_count function counts the number of times each value occured under the variables of the dataset

In [21]:
coviddata.drop_duplicates(inplace=True)

#### The drop duplicates function removes the duplicate observations available in the dataset

In [22]:
coviddata

,state,confirmed,active,passive,deaths,dose1,dose2,dose3,precaution_dose,total_doses,population
0,Andaman and Nicobar,10742,1,10612,129,313284,320383,236936,53427,991263,426251
1,Andhra Pradesh,2339067,3,2324331,14733,40643161,43549055,11703273,6579565,110556756,52883163
2,Arunachal Pradesh,66890,0,66594,296,860442,747177,72403,58618,1911760,1528296
3,Assam,746100,0,738065,8035,22549957,20561790,2082670,1259853,50284713,34586234
4,Bihar,851379,15,839062,12302,62944633,59144387,11983504,3868082,157197041,119461013
5,Chandigarh,99348,6,98161,1181,1089254,917701,48480,63046,2282281,1182104
6,Chhattisgarh,1177749,6,1163597,14146,18955635,18534989,5737679,1804891,49148991,28566990
7,Dadra and Nagar Haveli and Daman and Diu,11591,0,11587,4,730746,594929,136967,22486,1578492,657391
8,Delhi,2007188,35,1980632,26521,16600054,14348835,2312803,1053393,37366540,18802494
9,Goa,259079,26,255040,4013,1354828,1224173,60838,76559,2872582,1542750
10,Gujarat,1277557,41,1266473,11043,49314588,49428283,13459618,5938121,127793995,63907200
11,Haryana,1056602,43,1045845,10714,21955717,18732346,1255308,701811,45457359,27388008
12,Himachal Pradesh,312644,23,308408,4213,6041658,5780254,1485328,823689,15278680,7316708
13,Jammu and Kashmir,479410,17,474608,4785,9941757,10386967,930096,669871,24738045,14046258
14,Jharkhand,442570,3,437236,5331,21300448,16046070,1306687,664308,43689818,37329128
15,Karnataka,4071893,1275,4030311,40307,50016690,50455767,5727031,4726542,120928298,66165886
16,Kerala,6828245,1389,6755304,71552,27013745,23791879,854595,2215656,57477992,35330888
17,Ladakh,29412,3,29178,231,219564,186942,68766,53990,564943,307204
18,Lakshadweep,11415,0,11363,52,56908,55992,15757,6949,145008,72210
19,Madhya Pradesh,1054918,4,1044138,10776,54140166,54035268,9854998,3787239,133590886,82342793
20,Maharashtra,8136588,164,7988008,148416,84644083,71593498,5022623,4450343,177678317,120837347
21,Manipur,139922,0,137773,2149,1463998,1225599,114004,165096,3265933,3008546
22,Meghalaya,96783,1,95158,1624,1332102,1024902,30706,56987,2621058,3276323
23,Mizoram,238964,0,238238,726,785749,668814,79573,67619,1790818,1205974
24,Nagaland,35986,0,35204,782,837775,684306,26060,43640,1737554,2189297
25,Odisha,1336552,91,1327256,9205,31453659,29949756,9995330,3199384,81445474,45429399
26,Puducherry,175508,5,173528,1975,912901,801853,303475,106956,2272617,1397707
27,Punjab,784205,49,764867,19289,22352681,19602907,799986,1041039,46970300,29611935
28,Rajasthan,1315455,88,1305714,9653,51103054,46510275,4387205,2995864,115325059,78230816
29,Sikkim,44319,1,43819,499,539927,509134,158276,55637,1360444,671720
30,Tamil Nadu,3594388,60,3556279,38049,56659544,53499923,6033504,3021694,127442647,76481545
31,Telengana,841324,71,837142,4111,29607672,29053708,10525975,2702159,77201709,38472769
32,Tripura,108034,0,107094,940,2658852,2328613,271434,204733,5916312,4057847
33,Uttar Pradesh,2128103,46,2104424,23633,154058287,147716010,35623544,9240735,390639497,228959599
34,Uttarakhand,449379,28,441600,7751,8180312,7940592,1346150,867047,20051714,11090425
35,West Bengal,2118606,58,2097016,21532,67300236,61593452,10257324,5491943,155962840,97694960

#### The dataset after removing the duplicate observations

In [23]:
coviddata_subset=coviddata[['state','confirmed','active','deaths']]

#### The subset function helps to select the required variables of the dataset

In [24]:
coviddata_subset

                                       state  confirmed  active  deaths
0                        Andaman and Nicobar      10742       1     129
1                             Andhra Pradesh    2339067       3   14733
2                          Arunachal Pradesh      66890       0     296
3                                      Assam     746100       0    8035
4                                      Bihar     851379      15   12302
5                                 Chandigarh      99348       6    1181
6                               Chhattisgarh    1177749       6   14146
7   Dadra and Nagar Haveli and Daman and Diu      11591       0       4
8                                      Delhi    2007188      35   26521
9                                        Goa     259079      26    4013
10                                   Gujarat    1277557      41   11043
11                                   Haryana    1056602      43   10714
12                          Himachal Pradesh     312644      23    4213
13                         Jammu and Kashmir     479410      17    4785
14                                 Jharkhand     442570       3    5331
15                                 Karnataka    4071893    1275   40307
16                                    Kerala    6828245    1389   71552
17                                    Ladakh      29412       3     231
18                               Lakshadweep      11415       0      52
19                            Madhya Pradesh    1054918       4   10776
20                               Maharashtra    8136588     164  148416
21                                   Manipur     139922       0    2149
22                                 Meghalaya      96783       1    1624
23                                   Mizoram     238964       0     726
24                                  Nagaland      35986       0     782
25                                    Odisha    1336552      91    9205
26                                Puducherry     175508       5    1975
27                                    Punjab     784205      49   19289
28                                 Rajasthan    1315455      88    9653
29                                    Sikkim      44319       1     499
30                                Tamil Nadu    3594388      60   38049
31                                 Telengana     841324      71    4111
32                                   Tripura     108034       0     940
33                             Uttar Pradesh    2128103      46   23633
34                               Uttarakhand     449379      28    7751
35                               West Bengal    2118606      58   21532

#### This dataset is the subset of the coviddata dataset

In [25]:
coviddata_row=coviddata[coviddata['active']>50]

#### The row subset helps to filter the observations of the dataset based on the criteria given

In [26]:
coviddata_row

,state,confirmed,active,passive,deaths,dose1,dose2,dose3,precaution_dose,total_doses,population
15,Karnataka,4071893,1275,4030311,40307,50016690,50455767,5727031,4726542,120928298,66165886
16,Kerala,6828245,1389,6755304,71552,27013745,23791879,854595,2215656,57477992,35330888
20,Maharashtra,8136588,164,7988008,148416,84644083,71593498,5022623,4450343,177678317,120837347
25,Odisha,1336552,91,1327256,9205,31453659,29949756,9995330,3199384,81445474,45429399
28,Rajasthan,1315455,88,1305714,9653,51103054,46510275,4387205,2995864,115325059,78230816
30,Tamil Nadu,3594388,60,3556279,38049,56659544,53499923,6033504,3021694,127442647,76481545
31,Telengana,841324,71,837142,4111,29607672,29053708,10525975,2702159,77201709,38472769
35,West Bengal,2118606,58,2097016,21532,67300236,61593452,10257324,5491943,155962840,97694960

#### The filtered data after performing row subset operation

In [27]:
coviddata['doses']=coviddata['dose1']+coviddata['dose2']+coviddata['dose3']

#### This code is to create a new variable to the coviddata dataset

In [28]:
coviddata

,state,confirmed,active,passive,deaths,dose1,dose2,dose3,precaution_dose,total_doses,population,doses
0,Andaman and Nicobar,10742,1,10612,129,313284,320383,236936,53427,991263,426251,870603
1,Andhra Pradesh,2339067,3,2324331,14733,40643161,43549055,11703273,6579565,110556756,52883163,95895489
2,Arunachal Pradesh,66890,0,66594,296,860442,747177,72403,58618,1911760,1528296,1680022
3,Assam,746100,0,738065,8035,22549957,20561790,2082670,1259853,50284713,34586234,45194417
4,Bihar,851379,15,839062,12302,62944633,59144387,11983504,3868082,157197041,119461013,134072524
5,Chandigarh,99348,6,98161,1181,1089254,917701,48480,63046,2282281,1182104,2055435
6,Chhattisgarh,1177749,6,1163597,14146,18955635,18534989,5737679,1804891,49148991,28566990,43228303
7,Dadra and Nagar Haveli and Daman and Diu,11591,0,11587,4,730746,594929,136967,22486,1578492,657391,1462642
8,Delhi,2007188,35,1980632,26521,16600054,14348835,2312803,1053393,37366540,18802494,33261692
9,Goa,259079,26,255040,4013,1354828,1224173,60838,76559,2872582,1542750,2639839
10,Gujarat,1277557,41,1266473,11043,49314588,49428283,13459618,5938121,127793995,63907200,112202489
11,Haryana,1056602,43,1045845,10714,21955717,18732346,1255308,701811,45457359,27388008,41943371
12,Himachal Pradesh,312644,23,308408,4213,6041658,5780254,1485328,823689,15278680,7316708,13307240
13,Jammu and Kashmir,479410,17,474608,4785,9941757,10386967,930096,669871,24738045,14046258,21258820
14,Jharkhand,442570,3,437236,5331,21300448,16046070,1306687,664308,43689818,37329128,38653205
15,Karnataka,4071893,1275,4030311,40307,50016690,50455767,5727031,4726542,120928298,66165886,106199488
16,Kerala,6828245,1389,6755304,71552,27013745,23791879,854595,2215656,57477992,35330888,51660219
17,Ladakh,29412,3,29178,231,219564,186942,68766,53990,564943,307204,475272
18,Lakshadweep,11415,0,11363,52,56908,55992,15757,6949,145008,72210,128657
19,Madhya Pradesh,1054918,4,1044138,10776,54140166,54035268,9854998,3787239,133590886,82342793,118030432
20,Maharashtra,8136588,164,7988008,148416,84644083,71593498,5022623,4450343,177678317,120837347,161260204
21,Manipur,139922,0,137773,2149,1463998,1225599,114004,165096,3265933,3008546,2803601
22,Meghalaya,96783,1,95158,1624,1332102,1024902,30706,56987,2621058,3276323,2387710
23,Mizoram,238964,0,238238,726,785749,668814,79573,67619,1790818,1205974,1534136
24,Nagaland,35986,0,35204,782,837775,684306,26060,43640,1737554,2189297,1548141
25,Odisha,1336552,91,1327256,9205,31453659,29949756,9995330,3199384,81445474,45429399,71398745
26,Puducherry,175508,5,173528,1975,912901,801853,303475,106956,2272617,1397707,2018229
27,Punjab,784205,49,764867,19289,22352681,19602907,799986,1041039,46970300,29611935,42755574
28,Rajasthan,1315455,88,1305714,9653,51103054,46510275,4387205,2995864,115325059,78230816,102000534
29,Sikkim,44319,1,43819,499,539927,509134,158276,55637,1360444,671720,1207337
30,Tamil Nadu,3594388,60,3556279,38049,56659544,53499923,6033504,3021694,127442647,76481545,116192971
31,Telengana,841324,71,837142,4111,29607672,29053708,10525975,2702159,77201709,38472769,69187355
32,Tripura,108034,0,107094,940,2658852,2328613,271434,204733,5916312,4057847,5258899
33,Uttar Pradesh,2128103,46,2104424,23633,154058287,147716010,35623544,9240735,390639497,228959599,337397841
34,Uttarakhand,449379,28,441600,7751,8180312,7940592,1346150,867047,20051714,11090425,17467054
35,West Bengal,2118606,58,2097016,21532,67300236,61593452,10257324,5491943,155962840,97694960,139151012

#### The dataset after adding the new variable 'doses'

In [29]:
coviddata_index=coviddata.set_index("state")

#### The set index function helps to fix the variable as an index to the dataset

In [30]:
coviddata_index

,confirmed,active,passive,deaths,dose1,dose2,dose3,precaution_dose,total_doses,population,doses
state,,,,,,,,,,,
Andaman and Nicobar,10742,1,10612,129,313284,320383,236936,53427,991263,426251,870603
Andhra Pradesh,2339067,3,2324331,14733,40643161,43549055,11703273,6579565,110556756,52883163,95895489
Arunachal Pradesh,66890,0,66594,296,860442,747177,72403,58618,1911760,1528296,1680022
Assam,746100,0,738065,8035,22549957,20561790,2082670,1259853,50284713,34586234,45194417
Bihar,851379,15,839062,12302,62944633,59144387,11983504,3868082,157197041,119461013,134072524
Chandigarh,99348,6,98161,1181,1089254,917701,48480,63046,2282281,1182104,2055435
Chhattisgarh,1177749,6,1163597,14146,18955635,18534989,5737679,1804891,49148991,28566990,43228303
Dadra and Nagar Haveli and Daman and Diu,11591,0,11587,4,730746,594929,136967,22486,1578492,657391,1462642
Delhi,2007188,35,1980632,26521,16600054,14348835,2312803,1053393,37366540,18802494,33261692
Goa,259079,26,255040,4013,1354828,1224173,60838,76559,2872582,1542750,2639839
Gujarat,1277557,41,1266473,11043,49314588,49428283,13459618,5938121,127793995,63907200,112202489
Haryana,1056602,43,1045845,10714,21955717,18732346,1255308,701811,45457359,27388008,41943371
Himachal Pradesh,312644,23,308408,4213,6041658,5780254,1485328,823689,15278680,7316708,13307240
Jammu and Kashmir,479410,17,474608,4785,9941757,10386967,930096,669871,24738045,14046258,21258820
Jharkhand,442570,3,437236,5331,21300448,16046070,1306687,664308,43689818,37329128,38653205
Karnataka,4071893,1275,4030311,40307,50016690,50455767,5727031,4726542,120928298,66165886,106199488
Kerala,6828245,1389,6755304,71552,27013745,23791879,854595,2215656,57477992,35330888,51660219
Ladakh,29412,3,29178,231,219564,186942,68766,53990,564943,307204,475272
Lakshadweep,11415,0,11363,52,56908,55992,15757,6949,145008,72210,128657
Madhya Pradesh,1054918,4,1044138,10776,54140166,54035268,9854998,3787239,133590886,82342793,118030432
Maharashtra,8136588,164,7988008,148416,84644083,71593498,5022623,4450343,177678317,120837347,161260204
Manipur,139922,0,137773,2149,1463998,1225599,114004,165096,3265933,3008546,2803601
Meghalaya,96783,1,95158,1624,1332102,1024902,30706,56987,2621058,3276323,2387710
Mizoram,238964,0,238238,726,785749,668814,79573,67619,1790818,1205974,1534136
Nagaland,35986,0,35204,782,837775,684306,26060,43640,1737554,2189297,1548141
Odisha,1336552,91,1327256,9205,31453659,29949756,9995330,3199384,81445474,45429399,71398745
Puducherry,175508,5,173528,1975,912901,801853,303475,106956,2272617,1397707,2018229
Punjab,784205,49,764867,19289,22352681,19602907,799986,1041039,46970300,29611935,42755574
Rajasthan,1315455,88,1305714,9653,51103054,46510275,4387205,2995864,115325059,78230816,102000534
Sikkim,44319,1,43819,499,539927,509134,158276,55637,1360444,671720,1207337
Tamil Nadu,3594388,60,3556279,38049,56659544,53499923,6033504,3021694,127442647,76481545,116192971
Telengana,841324,71,837142,4111,29607672,29053708,10525975,2702159,77201709,38472769,69187355
Tripura,108034,0,107094,940,2658852,2328613,271434,204733,5916312,4057847,5258899
Uttar Pradesh,2128103,46,2104424,23633,154058287,147716010,35623544,9240735,390639497,228959599,337397841
Uttarakhand,449379,28,441600,7751,8180312,7940592,1346150,867047,20051714,11090425,17467054
West Bengal,2118606,58,2097016,21532,67300236,61593452,10257324,5491943,155962840,97694960,139151012

#### The dataset after fixing the variable 'state' as an index to the dataset

In [31]:
coviddata_index=coviddata_index.reset_index()

#### The reset index function helps to remove the variable as an index in the dataset

In [32]:
coviddata_index

,state,confirmed,active,passive,deaths,dose1,dose2,dose3,precaution_dose,total_doses,population,doses
0,Andaman and Nicobar,10742,1,10612,129,313284,320383,236936,53427,991263,426251,870603
1,Andhra Pradesh,2339067,3,2324331,14733,40643161,43549055,11703273,6579565,110556756,52883163,95895489
2,Arunachal Pradesh,66890,0,66594,296,860442,747177,72403,58618,1911760,1528296,1680022
3,Assam,746100,0,738065,8035,22549957,20561790,2082670,1259853,50284713,34586234,45194417
4,Bihar,851379,15,839062,12302,62944633,59144387,11983504,3868082,157197041,119461013,134072524
5,Chandigarh,99348,6,98161,1181,1089254,917701,48480,63046,2282281,1182104,2055435
6,Chhattisgarh,1177749,6,1163597,14146,18955635,18534989,5737679,1804891,49148991,28566990,43228303
7,Dadra and Nagar Haveli and Daman and Diu,11591,0,11587,4,730746,594929,136967,22486,1578492,657391,1462642
8,Delhi,2007188,35,1980632,26521,16600054,14348835,2312803,1053393,37366540,18802494,33261692
9,Goa,259079,26,255040,4013,1354828,1224173,60838,76559,2872582,1542750,2639839
10,Gujarat,1277557,41,1266473,11043,49314588,49428283,13459618,5938121,127793995,63907200,112202489
11,Haryana,1056602,43,1045845,10714,21955717,18732346,1255308,701811,45457359,27388008,41943371
12,Himachal Pradesh,312644,23,308408,4213,6041658,5780254,1485328,823689,15278680,7316708,13307240
13,Jammu and Kashmir,479410,17,474608,4785,9941757,10386967,930096,669871,24738045,14046258,21258820
14,Jharkhand,442570,3,437236,5331,21300448,16046070,1306687,664308,43689818,37329128,38653205
15,Karnataka,4071893,1275,4030311,40307,50016690,50455767,5727031,4726542,120928298,66165886,106199488
16,Kerala,6828245,1389,6755304,71552,27013745,23791879,854595,2215656,57477992,35330888,51660219
17,Ladakh,29412,3,29178,231,219564,186942,68766,53990,564943,307204,475272
18,Lakshadweep,11415,0,11363,52,56908,55992,15757,6949,145008,72210,128657
19,Madhya Pradesh,1054918,4,1044138,10776,54140166,54035268,9854998,3787239,133590886,82342793,118030432
20,Maharashtra,8136588,164,7988008,148416,84644083,71593498,5022623,4450343,177678317,120837347,161260204
21,Manipur,139922,0,137773,2149,1463998,1225599,114004,165096,3265933,3008546,2803601
22,Meghalaya,96783,1,95158,1624,1332102,1024902,30706,56987,2621058,3276323,2387710
23,Mizoram,238964,0,238238,726,785749,668814,79573,67619,1790818,1205974,1534136
24,Nagaland,35986,0,35204,782,837775,684306,26060,43640,1737554,2189297,1548141
25,Odisha,1336552,91,1327256,9205,31453659,29949756,9995330,3199384,81445474,45429399,71398745
26,Puducherry,175508,5,173528,1975,912901,801853,303475,106956,2272617,1397707,2018229
27,Punjab,784205,49,764867,19289,22352681,19602907,799986,1041039,46970300,29611935,42755574
28,Rajasthan,1315455,88,1305714,9653,51103054,46510275,4387205,2995864,115325059,78230816,102000534
29,Sikkim,44319,1,43819,499,539927,509134,158276,55637,1360444,671720,1207337
30,Tamil Nadu,3594388,60,3556279,38049,56659544,53499923,6033504,3021694,127442647,76481545,116192971
31,Telengana,841324,71,837142,4111,29607672,29053708,10525975,2702159,77201709,38472769,69187355
32,Tripura,108034,0,107094,940,2658852,2328613,271434,204733,5916312,4057847,5258899
33,Uttar Pradesh,2128103,46,2104424,23633,154058287,147716010,35623544,9240735,390639497,228959599,337397841
34,Uttarakhand,449379,28,441600,7751,8180312,7940592,1346150,867047,20051714,11090425,17467054
35,West Bengal,2118606,58,2097016,21532,67300236,61593452,10257324,5491943,155962840,97694960,139151012

#### The dataset after removing the variable as an index

In [33]:
coviddata_loc=coviddata.loc[(coviddata.precaution_dose>1000000)&(coviddata.population>90000000)]

#### The locate 'loc' function helps to get the required observations by locating the variables with conditions

In [34]:
coviddata_loc

,state,confirmed,active,passive,deaths,dose1,dose2,dose3,precaution_dose,total_doses,population,doses
4,Bihar,851379,15,839062,12302,62944633,59144387,11983504,3868082,157197041,119461013,134072524
20,Maharashtra,8136588,164,7988008,148416,84644083,71593498,5022623,4450343,177678317,120837347,161260204
33,Uttar Pradesh,2128103,46,2104424,23633,154058287,147716010,35623544,9240735,390639497,228959599,337397841
35,West Bengal,2118606,58,2097016,21532,67300236,61593452,10257324,5491943,155962840,97694960,139151012

#### The dataset after performing locate function

In [35]:
coviddata_iloc=coviddata.iloc[1:4,0:5]

#### The index location 'iloc' function helps to select the specified observations and the variables by giving a range with the starting value and the end value

In [36]:
coviddata_iloc

               state  confirmed  active  passive  deaths
1     Andhra Pradesh    2339067       3  2324331   14733
2  Arunachal Pradesh      66890       0    66594     296
3              Assam     746100       0   738065    8035

#### The dataset after performing index location function

In [ ]:
new_coviddata=coviddata.groupby()

#### The groupby() command is not applicable for this data

In [38]:
coviddata['passive']=coviddata['passive'].astype('object')

#### The astype function helps to change the data type of the variables

In [39]:
coviddata.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 36 entries, 0 to 35
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   state            36 non-null     object
 1   confirmed        36 non-null     int64
 2   active           36 non-null     int64
 3   passive          36 non-null     object
 4   deaths           36 non-null     int64
 5   dose1            36 non-null     int64
 6   dose2            36 non-null     int64
 7   dose3            36 non-null     int64
 8   precaution_dose  36 non-null     int64
 9   total_doses      36 non-null     int64
 10  population       36 non-null     int64
 11  doses            36 non-null     int64
dtypes: int64(10), object(2)
memory usage: 3.7+ KB

#### The data type of the passive variable is changed from integer to the object